/* Estilos Gerais */

/* Opção 04 */

body {
  font-family: Arial, sans-serif;

  margin: 0;

  padding: 0;

  box-sizing: border-box;

  color: #333;

  background-image: url("dinamica-background.png");

  background-size: contain;

  background-repeat: no-repeat;

  background-attachment: fixed;

  background-position: center right;
}

/* Cores de fundo  */

header {
  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 20px 50px;
}

main {
  padding: 100px 300px;
}

footer {
  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 20px 50px;

  background-color: rgb(233, 136, 133);

  color: white;
}

/* Cabeçalho  */

.nav-menu ul {
  list-style: none;

  padding: 0;

  margin: 0;

  display: flex;

  gap: 20px;
}

.nav-menu a {
  text-decoration: none;

  color: #555;

  font-weight: bold;

  cursor: pointer;
}

.cabecalho-direita {
  display: flex;

  align-items: center;

  gap: 200px;
}

.logo-texto {
  font-size: 24px;

  font-weight: bold;

  color: #d44d51;
}

.botao-compreAgora {
  background-color: #cd313e;

  color: white;

  border: none;

  padding: 10px 30px;

  border-radius: 5px;

  cursor: pointer;
}

/* Seção Principal  */

.conteudo-esquerda {
  display: flex;

  flex-direction: column;

  gap: 10px;

  max-width: 600px;

  padding: 30px;

  border-radius: 10px;
}

.titulo-principal {
  font-size: 48px;

  font-weight: bold;

  color: #333;

  line-height: 1.2;
}

.descricao {
  line-height: 1.6;

  font-family: Arial, Helvetica, sans-serif;

  color: #d44d51;
}

.botao-conteudo {
  display: flex;

  gap: 25px;
}

.botao {
  padding: 12px 30px;

  border-radius: 5px;

  font-weight: bold;

  cursor: pointer;
}

.botao-adquirir {
  background-color: #d44d51;

  color: white;

  border: none;
}

.botao-saibaMais {
  background-color: transparent;

  color: #cd313e;

  border: 2px solid #cd313e;
}

/* Rodapé */

.footer-centro ul {
  list-style: none;

  padding: 0;

  margin: 0;

  display: flex;

  gap: 30px;
}

.footer-centro a {
  text-decoration: none;

  color: white;
}

.footer-direita {
  display: flex;

  align-items: center;

  gap: 20px;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }

  .cabecalho-direita {
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
  }

  main {
    padding: 50px 20px;
  }

  .titulo-principal {
    font-size: 32px;
    text-align: center;
  }

  .descricao {
    text-align: center;
  }

  .botao-conteudo {
    flex-direction: column;
    gap: 10px;
  }

  footer {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .footer-centro,
  .footer-direita,
  .footer-direita img,
  .footer-direita button {
    margin-top: 15px;
  }
}
