/* Estilos Gerais */

body {
  font-family: Arial, sans-serif;

  margin: 0;

  padding: 0;

  box-sizing: border-box;

  color: #333;

  background-image: url("dinamica-background.png");

  background-size: 80vh;

  background-repeat: no-repeat;

  background-attachment: scroll;

  background-position: top right;
}

/* Cores de fundo  */

header {
  display: flex;

  justify-content: space-around;

  align-items: center;

  padding: 20px 50px;
}

main {
  padding: 20px 300px;
}

footer {
  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 20px 50px;

  background-color: rgb(233, 136, 133);

  color: white;
}

/* Cabeçalho  */

.nav-menu ul {
  list-style: none;

  padding: 0;

  margin: 0;

  display: flex;

  gap: 20px;
}

.nav-menu a {
  text-decoration: none;

  color: #d44d51;

  font-weight: 600;

  cursor: pointer;
}

.cabecalho-direita {
  display: flex;

  align-items: center;

  gap: 200px;
}

.logo-texto {
  font-size: 24px;

  font-weight: bold;

  color: #d44d51;
}

.botao-compreAgora {
  background-color: #cd313e;

  color: white;

  border: none;

  padding: 10px 30px;

  border-radius: 5px;

  cursor: pointer;
}

/* Seção Principal  */

.conteudo-esquerda {
  display: flex;

  flex-direction: column;

  gap: 10px;

  max-width: 600px;

  padding: 0px 30px;

  border-radius: 10px;
}

.titulo-principal {
  font-size: 36px;

  color: #333;

  line-height: 1.2;
}

.descricao {
  line-height: 1.6;

  font-family: Arial, Helvetica, sans-serif;

  color: #d44d51;
}

.botao-conteudo {
  display: flex;

  gap: 25px;
}

.botao {
  padding: 12px 30px;

  border-radius: 5px;

  font-weight: bold;

  cursor: pointer;
}

.botao-adquirir {
  background-color: #d44d51;

  color: white;

  border: none;
}

.botao-saibaMais {
  background-color: transparent;

  color: #cd313e;

  border: 2px solid #cd313e;
}

/* Rodapé */

.footer-centro ul {
  list-style: none;

  padding: 0;

  margin: 0;

  display: flex;

  gap: 30px;
}

.footer-centro a {
  text-decoration: none;

  color: white;
}

.footer-direita {
  display: flex;

  align-items: center;

  gap: 20px;
}

/* MEDIA QUERIES */

/* Responsividade > 1.201px */

@media (min-width: 1201px) {
  main {
    margin-bottom: 200px;

    padding: 20px 150px;
  }
}

/* Responsividade between 1.025 and 1.200px */

@media (min-width: 1025px) and (max-width: 1200px) {
  main {
    margin-bottom: 150px;

    padding: 20px 150px;
  }

  .conteudo-esquerda {
    max-width: 450px;
  }
}

/* Responsividade between 769px and 1.024px */

@media (min-width: 769px) and (max-width: 1024px) {
  body {
    background-size: 70vh;
  }

  main {
    margin-bottom: 20px;

    padding: 20px;
  }

  .conteudo-esquerda {
    max-width: 400px;
  }
}

/* Responsividade between 645px and 768px */

@media (min-width: 645px) and (max-width: 768px) {
  body {
    background-size: 60vh;
  }

  header {
    display: flex;

    /* flex-direction: column; */

    align-items: center;

    padding: 15px;
  }

  .cabecalho-direita {
    display: flex;

    /* flex-direction: column; */

    gap: 15px;

    margin-top: 0px;
  }

  main {
    margin-bottom: 20px;

    padding: 20px 20px;
  }

  .titulo-principal {
    font-size: 20px;

    text-align: center;
  }

  .conteudo-esquerda {
    max-width: 50%;
  }

  .descricao {
    text-align: center;

    font-size: 14px;
  }

  .botao-conteudo {
    flex-direction: column;

    gap: 10px;
  }

  footer {
    flex-direction: column;

    text-align: center;

    padding: 10px;
  }
}

/* Responsividade between 481px and 644px */

@media (min-width: 481px) and (max-width: 644px) {
  body {
    background-size: 50vh;

    background-position: center right;
  }

  header {
    display: flex;

    /* flex-direction: column; */

    align-items: center;

    padding: 15px;

    font-size: 14px;
  }

  .cabecalho-direita {
    display: flex;

    /* flex-direction: column; */

    gap: 15px;

    /* margin-top: 0px; */
  }

  .logo-texto {
    font-size: 16px;
  }

  .botao-compreAgora {
    padding: 5px 15px;
  }

  main {
    margin-bottom: 20px;

    padding: 20px 20px;
  }

  .titulo-principal {
    font-size: 20px;

    text-align: center;
  }

  .conteudo-esquerda {
    max-width: 50%;
  }

  .descricao {
    text-align: center;

    font-size: 14px;
  }

  .botao-conteudo {
    flex-direction: column;

    gap: 10px;

    padding: 12px;
  }

  .botao-adquirir {
    margin: 0 auto;
  }

  .botao-saibaMais {
    margin: 0 auto;
  }

  footer {
    flex-direction: column;

    text-align: center;

    padding: 10px;
  }
}

/* Responsividade <= 480px */

@media (max-width: 480px) {
  body {
    background-size: 30vh;

    background-position: center right;
  }

  header {
    display: flex;

    flex-direction: column;

    align-items: center;

    padding: 10px;

    font-size: 14px;
  }

  .nav-menu {
    margin-bottom: 10px;
  }

  .cabecalho-direita {
    display: flex;

    flex-direction: column;

    gap: 15px;

    /* margin-top: 0px; */
  }

  .logo-texto {
    font-size: 14px;
  }

  .botao-compreAgora {
    padding: 5px 10px;
  }

  main {
    margin-bottom: 20px;

    padding: 0px;
  }

  .titulo-principal {
    font-size: 18px;

    text-align: center;
  }

  .conteudo-esquerda {
    max-width: 50%;
  }

  .descricao {
    text-align: left;

    font-size: 12px;

    margin-bottom: 35px;
  }

  .botao-conteudo {
    flex-direction: column;

    gap: 10px;

    padding: 0px;
  }

  .botao-adquirir {
    margin: 0 20px;
  }

  .botao-saibaMais {
    margin: 0 10px;
  }

  footer {
    flex-direction: column;

    text-align: center;

    padding: 10px;
  }

  .footer-direita {
    display: flex;

    flex-direction: column;

    align-items: center;

    padding: 0;

    gap: 0;

    margin: 0;
  }

  .footer-direita img {
  }

  .botao-compreAgora {
    padding: 10px;

    margin: 0;
  }
}

/*  RESPONSIVIDADE */

/*

@media (max-width: 320px) {

  .menu, .conteudo {

      flex-direction: column;

  }

 

  aside, main {

      width: 100%;

  }

 

  main { */

/* o flex box, os elementos filhos, por padrão possuem order: 0 */

/* order: -1;

  }

} */

/* Media queries comuns */

/* 320px — 480px: dispositivos móveis */

@media (min-width: 320px) and (max-width: 480px) {
  /* Seu código aqui.. */
}

/* 481px — 768px: iPads, tablets */

@media (min-width: 481px) and (max-width: 768px) {
  /* Seu código aqui.. */
}

/* 769px — 1024px: telas pequenas, laptops */

@media (min-width: 769px) and (max-width: 1024px) {
  /* Seu código aqui.. */
}

/*

1025px — 1200px: desktops, telas grandes

1201px e acima —  telas muito grandes, TVs */
